.logo {
  background-size: 72px 43px;
}

input, select, textarea, button, a {
  -webkit-text-size-adjust: none;
  font-family: 'campton', 'Apple SD Gothic Neo', NanumBarunGothic, '나눔바른고딕', Malgun Gothic, '맑은 고딕', dotum, sans-serif;
}

@font-face {
  font-family: "CamptonBold";
  src: url("./fonts/Campton-BoldDEMO.otf");
}

@font-face {
  font-family: "Camptonlight";
  src: url("./fonts/Campton-LightDEMO.otf");
}

.special:hover, .showcase:hover, .pt:hover, .welove:hover {
  text-decoration: underline;
  text-decoration-thickness: 7px;
}

.sspw .wpqkfdy a {
  font-family: CamptonBold;
  font-size: 16px;
  font-weight: 100;
}

.dropmenu{
  border:none;
  border:0px;
  margin:0px;
  padding:0px;
  font: "sans-serif";
  font-size:16px;
  }
  
  .dropmenu ul{
  height:30px;
  list-style:none;
  margin:0;
  padding:0;
  }
  
  .dropmenu li{
  float:left;
  padding:0px;
  }
  
  .dropmenu li a{
  color:black;
  display:block;
  line-height:30px;
  margin:0px;
  padding:0px 10px;
  text-align:center;
  text-decoration:none;
  }
  
  .dropmenu li a:hover, .dropmenu li:hover a{
  color:black;
  text-decoration:none;
  }

  .wpqkfdy li:hover a{
    border-bottom: 5px solid black;
  }
  
  .dropmenu li ul{
  background: white;
  display:none; 
  border:0px;
  position:absolute;
  width:100%;
  height: 404px;
  z-index:200;
  left:0;
  border-top: 1px solid #f4f4f4;
  border-bottom: 1px solid #d4d4d4;
  }
  
  .dropmenu li:hover ul{
  display:block;
  width: 100%;
  }
  
  .dropmenu li li {
  background: white;
  margin:0px;
  padding-left: 2%;
  width:150px;
  height: 30px;
  float:none;
  border-bottom: none;
  }
  
  .dropmenu li:hover li a{
  background:none;
  border-bottom: none;
  }
  
  .dropmenu li ul a{
  display:block;
  height:30px;
  font-size:14px;
  margin:0px;
  padding:0px 10px 0px 15px;
  text-align:left;
  }
  
  .dropmenu li ul a:hover, .dropmenu li ul li:hover a{
  color:black;
  text-decoration:none;
  font-weight: 900;
  }
  
  .dropmenu p{
  clear:left;
  }

  .original_header {
    position: relative;
    width: 100%;
    background-color: white;
  }
  
  
  .change_header {
    position: fixed;
    background-color: white;
    width: 100%;
    height: 140px;
    border-bottom: 1px solid #d4d4d4;
    transition: background-color .4s;
  }

  .SSPW-original {
    
  }

  .SSPW-change {
    position: absolute;
    top: 10%;
    left: 8%;
    width: 100%;
  }